<!DOCTYPE html>
<html>
<head>
    <title>Attendance Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reports.css') }}">
</head>

<body>

<header>
    <h1>Smart Attendance System</h1>
</header>

<div class="container">

    <aside>

        <h2>Admin Panel</h2>

        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/add_student">Add Student</a></li>
            <li><a href="/view_students">View Students</a></li>
            <li><a href="/attendance">Attendance</a></li>
            <li><a href="/reports">Reports</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

    </aside>

    <main>

        <h2>Attendance Reports</h2>
          <div style="margin-bottom:20px;">

             <a href="/export_excel">
              <button style="
                background:#198754;
                color:white;
                border:none;
                padding:10px 20px;
                border-radius:5px;
                cursor:pointer;">
                📥 Download Excel
              </button>
              </a>

              <a href="/export_pdf">
               <button style="
                 background:#dc3545;
                 color:white;
                 border:none;
                 padding:10px 20px;
                 border-radius:5px;
                 cursor:pointer;
                 margin-left:10px;">
                 📄 Download PDF
              </button>
                </a>

            </div>
      <form method="POST">

         <label><b>Select Date:</b></label>

        <input type="date" name="attendance_date" required>

        <button type="submit">Search</button>

       </form>

         <br>
        <table>

            <tr>
                <th>Student Name</th>
                <th>Roll No</th>
                <th>Date</th>
                <th>Status</th>
            </tr>

            {% for record in records %}

            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
            </tr>

            {% endfor %}

        </table>

    </main>

</div>

</body>
</html>